:host ::ng-deep .p-sidebar-content{
  height: 100% !important;
  padding: 0 !important;
}

.menu-item{
  font-size: 1.5rem;
  position: relative;

  &:hover{
    background-position: left;
  }

  &.active{
    background-color: #e6f4ff;
    border-right: 7px solid #007bff;
  }
}
