<div #footer class="footer bg-primary position-fixed bottom-0 px-4 d-flex justify-content-between align-items-center" style="height: 4rem">
  <button class="nav-button" routerLinkActive="active" routerLink="/diary/home">
    <i class="bi bi-house-door-fill px-1"></i>
  </button>
  <button class="nav-button" routerLinkActive="active" routerLink="/diary/today">
    <i class="bi bi-pencil-fill px-1"></i>
  </button>
  <button class="nav-button" routerLinkActive="active" routerLink="/diary/pages">
    <i class="bi bi-calendar-event-fill px-1"></i>
  </button>
  <button class="nav-button" routerLinkActive="active" routerLink="/diary/search">
    <i class="bi bi-search px-1"></i>
  </button>
</div>
