$body-bg: #e3e3e3;
$btn-link-color: inherit;

//COLORS
$primary-dark: #1C2679;


$accordion-border-width: 1px;
$accordion-border-color: grey;
$accordion-button-bg: var(--bs-gray-100);
$accordion-button-focus-box-shadow: 0;
